<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actualizar nota estudiante</title>
  </head>
  <body>
    <br />
    <div style="text-align: center">
      <h2>Actualizar nota estudiante</h2>
      <h2>_______________________</h2>
      <br />
      <ul>
        <li><h3>Alumno: {{ actualizarNota.nombre }} {{ actualizarNota.apellido }}</h3></li>
        <li>Legajo: {{ actualizarNota.id }}</li>
        <li>Nota actualizada: {{ actualizarNota.nota }}</li>
        <li>------------------------------</li>
        </ul>
    </div>
  </body>
</html>