<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo de Estudiante</title>
  </head>
  <body>
    <br />
    <div style="text-align: center">
      <h2>Nuevo Estudiantes</h2>
      <h2>_______________________</h2>
      <br />
      <ul>
        <li><h3>Alumno: {{ nuevoEstudiante.nombre }} {{ nuevoEstudiante.apellido }}</h3></li>
        <li>Legajo: {{ nuevoEstudiante.id }}</li>
        <li>Edad: {{ nuevoEstudiante.edad }}</li>
        <li>Nota: {{ nuevoEstudiante.nota }}</li>
        <li>------------------------------</li>
        </ul>
    </div>
  </body>
</html>