{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control de Alumnos de Filosofia CSS</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    {% include 'hero.html' %}
    {% include 'controlEstudiantes.html' %}
    {% include 'footer.html' %} {% block content %} {% endblock %}
  </body>
</html>
