<main id="lista" class="container">
<div>
  <h2>Todos los Estudiantes Filosofia</h2>
  <h2>_______________________</h2>
  <br />
  {% for estudiante in estudiantes %}
  <ul>
  <li><p>Estudiante: {{estudiante.nombre}} {{estudiante.apellido}}</p></li>
  <li><p>Edad: {{estudiante.edad}}</p></li>
  <li><p>Nota: {{estudiante.nota}}</p></li>
</ul>
  <p>------------------------------</p>
  {% endfor %}
</div>
<div style="text-align: center">
  <a href="{% url 'estudiantesCSS' %}"
    ><input class="btn btn--primary btn--medium" type="submit" value="Volver"
  /></a>
</div>
</main>