<!DOCTYPE html>
<html lang="es">
  <style>
    * {
      text-align: center;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>Detalle del Producto</title>
  </head>
  <body>
    <br>
    <h2>{{ producto.nombre }}</h2>
    <p>{{ producto.descripcion }}</p>
    <h3>Precio: ${{ producto.precio }}</h3>
    <br>
    <a href="{% url 'productoUpdate' producto.id %}"><input type="submit" value="Realizar cambios"></a>
    <form action="{% url 'productoBorrar' producto.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Borrar"/></form><br>
    </form>
    <a href="{% url 'productoLista' %}"><input type="submit" value="Volver al listado principal"></a>
  </body>
</html>
